
:root{
    --light_green: #a6ec8d;
    --light_green_h: #A6EC8D;
    --rich_black_forgra_29: #061223;
    --text_white: #dbe7e7;
    --text_white_h: #ffffff;
    --dark_turquoise: #4CD9DE;
    --dark_turquoise_h: #0cedf5;
}


.forum{
    width: 100%;
}

/* side bar */


.forum .wrapper_v{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    height: 70vh;
    min-width: 100%;

}

.forum .wrapper_v .sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* padding: 1rem 0rem 12rem 0rem; */
    width: 40%;
    
    
}

.post_section .wrapper_v .sidebar a{
    background-color: var(--dark_turquoise);
    color: var(--rich_black_forgra_29);
    text-decoration: none;
    padding: 1rem 0rem 1rem 1.5rem;
    border-bottom: 2px solid var(--light_green);
    min-width: 85%;
    margin-bottom: 1rem;
    color: var(--rich_black_forgra_29);
}

/* articles */

.post_section .articles{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    width: 100%;
}

.post_section .articles .top_post_art {
    padding: 1rem 0;
    
    width: 100%;
    border: 5px solid var(--light_green);
    border-radius: 1rem ;
    margin-bottom: 1rem;
    width: 100%;
    
}

.post_section .articles .top_post_art .title{
    color: var(--light_green);
    border-bottom: 2px solid var(--light_green);
    margin: 0 2rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.post_section .articles .top_post_art .post{
    color: var(--text_white);
    margin: 0 2rem;
    text-align: justify;
    line-height: 2em;
    margin-bottom: 1rem;

}

