
:root{
    --light_green: #a6ec8d;
    --light_green_h: #A6EC8D;
    --rich_black_forgra_29: #061223;
    --text_white: #dbe7e7;
    --text_white_h: #ffffff;
    --dark_turquoise: #4CD9DE;
    --dark_turquoise_h: #0cedf5;
}

/* side bar */
.forum .wrapper_v{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    height: 70vh;

}

.forum .wrapper_v .sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--light_green);
    padding: 1rem 1.5rem 12rem 0rem;
    width: 20vw;
    
    
}

.forum .wrapper_v .sidebar a{
    background-color: var(--light_green);
    color: var(--rich_black_forgra_29);
    text-decoration: none;
    padding: 0.5rem 2rem;
}

/* articles */

.forum .articles{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin: 2rem 0;
    margin-left: 2rem;
    width: 80vw;
}

.forum .articles .top_post_art {
    padding: 1rem;
    
}

.forum .articles .top_post_art .title{
    color: var(--light_green);
    background-color: var(--dark_turquoise);
}

.forum .articles .top_post_art .post{
    color: var(--dark_turquoise);

}

.forum .articles .top_post_art{
    border: 10px solid var(--light_green);
    border-radius: 1rem 1rem 0 0;
    margin-bottom: 1rem;
    width: 75%;
}

