:root{
    --light_green: #a6ec8d;
    --light_green_h: #A6EC8D;
    --rich_black_forgra_29: #061223;
    --text_white: #dbe7e7;
    --text_white_h: #ffffff;
    --dark_turquoise: #4CD9DE;
    --dark_turquoise_h: #0cedf5;
}

/* reset css */
/* 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
} */

/* base site rules */

a{
    color: var(--text_white);
    text-decoration: none;
}

body{
    background-color: var(--rich_black_forgra_29);
    color: var(--text_white);
    margin: 0 3rem;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 1.2rem;
}

.wrapper{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin: 1rem 0;

}

.green_text{
    color: var(--light_green);
}


/* header rules */

header nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
header nav {
    margin-left: 1rem

}

header nav a{
    margin-left: 1rem;
    font-size: 1.5rem;
    
}

header nav a:hover{
    color: var(--text_white_h);
}

.green_text:hover{
    color: var(--light_green_h);
}


/* featured game */

.cover_game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)100%) , url("../imgs/cover/fortnite_cover_image.jpg");
    background-size: cover;
    min-height: 30vh;
    width: 100%;
    font-size: 1rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.cover_game .title{
    font-size: 4rem;
    color: var(--light_green);
    margin-bottom: 1rem;
}

.cover_game .description{
    margin-top: 1rem;
    width: 55%;
}

.cover_game .wrapper .buttons button{
    padding: 1rem 2rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
    color: var(--rich_black_forgra_29);
    font-size: 1.2rem;
    cursor: pointer;   
    transition: .3s ease all;
}

.cover_game .wrapper .buttons .play{
    background-color: var(--light_green);
    border: 5px solid var(--light_green); 
    color: var(--rich_black_forgra_29);
}

.cover_game .wrapper .buttons .play:hover{
    border: 5px solid var(--text_white_h); 
    background-color: var(--light_green_h);
    color: var(--dark_turquoise_h);
}

.cover_game .wrapper .buttons .save{
    background-color: var(--dark_turquoise);
    border: 5px solid var(--dark_turquoise); 
    color: var(--rich_black_forgra_29);    
}

.cover_game .wrapper .buttons .save:hover{
    border: 5px solid var(--text_white_h); 
    background-color: var(--dark_turquoise_h);
    color: var(--text_white_h);
}

/* games section list */


.games_section div .item img{
    width: 20rem;
    height: 28rem;
    background-size: cover;
}

.games_section .game_section_title{
    color: var(--light_green);
}

.games_section div .item{
    border: 5px solid var(--rich_black_forgra_29);
   

}

.games_section div .item:hover{
    border: 5px solid var(--light_green);
    

}
